/************************* FONTS *************************/
.lato{
    font-family:$lato;
    font-weight:$lato-regular;
}
.lato-thin{
    font-weight:$lato-thin;
}
.lato-light{
    font-weight:$lato-light;
}
.lato-bold{
    font-weight:$lato-bold;
}
.lato-ultra-bold{
    font-weight:$lato-ultra-bold;
}