
/*** placeholder - dark ***/
input.placeholder-dark::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $brand-gray !important;
}
input.placeholder-dark::-moz-placeholder { /* Firefox 19+ */
  color: $brand-gray !important;
}
input.placeholder-dark:-ms-input-placeholder { /* IE 10+ */
  color: $brand-gray !important;
}
input.placeholder-dark:-moz-placeholder { /* Firefox 18- */
  color: $brand-gray !important;
}

.form-control{
    border-color: $brand-form;
    border-radius: 0;
    box-shadow: none;
    &:focus{
        outline:0;
        box-shadow: none;
        border-color: $brand-form;
    }
}

.has-error{ 
    .form-control {
        border-color: $brand-orange;
    }
    p{
        color: $brand-orange;
        margin-top: 5px;
    }
}

/*** buttons ***/
button, .btn, .btn:focus, .btn:active:focus{
    outline:0;
}
.btn-success{
    background:$brand-button-green;
    color:$brand-white;
    &:hover, &:active, &:focus {
        background: #687f1b;
    }
}

.btn-link{    
    color: $brand-blue;
    font-size:.81rem;
    text-decoration:underline;
}
.btn-link-delete{
    color: $brand-orange;
    font-weight:$lato-bold;
    span{
        margin: 0 7px 0 0;
        position: relative;
        top: 1px;
    }
    &:hover, &:active, &:focus{
        color: $brand-orange;
    }
}
.btn-default{
     background: $brand-gray;
}
.btn:active{
    box-shadow:none;
}


/*** checkbox ***/
.checkbox {
    float: left;
    margin: 0 60px 0 0;
    width: 20px;
    label{
        background:$brand-white;
        border:1px solid $brand-form;
        cursor: pointer;
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
	    border-radius: 2px;
	    padding-left: 0;
        min-height: inherit;
    }
        &::after {
        opacity: 0;
    }
        input[type="checkbox"] {
        visibility: hidden;
	    margin:0;
    }
        input[type="checkbox"]:checked + label::after {
	    background: transparent none repeat scroll 0 0;
        border-color: #666666;
        border-image: none;
        border-style: none none solid solid;
        border-width: medium medium 2px 2px;
        content: "";
        height: 6px;
        left: 3px;
        position: absolute;
        top: 5px;
        @include vendor-prefix(transform, rotate(-50deg));
        width: 12px;
        opacity: 1;
    }
}
.checkbox + label{
    padding-left: 27px;
    font-size: .875rem;
}

label{
    margin-bottom: 5px;
    font-weight: $lato-bold;
}
/*** radio ***/
.radio{ 
    margin: 0;
    label{
        display: block;
        cursor: pointer;
        line-height: 2.5;
        font-size:0.875rem;
        padding-left:0;
    }
    input[type="radio"] {
      border: 0; 
      clip: rect(0 0 0 0); 
      height: 1px; 
      margin: -1px; 
      overflow: hidden; 
      padding: 0; 
      position: absolute; 
      width: 1px;
    }
    [type="radio"] + span {
      display: block;
    }
    /* border for radio */
    [type="radio"] + span:after{
      border-radius: 1em;
      content: "";
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 20px;
      border: 1px solid $brand-form;
    }
   &:nth-of-type(1) [type="radio"] + span:after{
        top: 9px\0;
    }
    /* active radio */
    [type="radio"] + span:before {
      border-radius: 1em;
      content: "";
      display: inline-block;
      height: 10px;
      left: 5px;
      margin-right: 15px;
      position: relative;
      top: -5px;
      vertical-align: -5px;
      width: 10px;
    }
    /* the checked style using the :checked pseudo class */
    [type="radio"]:checked + span:before {
      background: $brand-gray-dk;
    }
    +.radio{
        margin:0;
        margin-left:30px;
    }
}


/*** select ***/
select, select.form-control {
    background: white url("../../images/down-arrow.svg") no-repeat scroll calc(100% - 10px) center;
    background-size:13px 8px;
    @include vendor-prefix(appearance, none);
    border: 0 none;
    color: $brand-gray-dk;
    cursor: pointer;
    height: 33px;
    padding: 6px 10px;
    width: 100%;
    font-size:0.875rem;
    line-height:1;
    border-radius:0;
    border: 1px solid $brand-form;
}

select::-ms-expand {
    display: none;
}

/*** datepicker ***/
.datepicker.dropdown-menu, .ui-datepicker{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid $brand-form;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    font-size: 14px;
    left: 0;
    margin: 2px 0 0;
    padding: 5px 10px;
    text-align: center;
    top: 100%;
    right: inherit;
    cursor: pointer;
    th{
        text-align:center;
    }
    .ui-state-default{
        border:0;
        background:none;
        text-align: center;
        &:hover{
            background:#ccc;
        }
    }
    .ui-datepicker-header{
        border:0;
        background:none;
    }
    .ui-state-highlight{
        background:#ccc;
    }
    .ui-state-hover{
        border:none;
        background:none;
    }
    .ui-datepicker-next-hover{
        right:2px;
        top:2px;
    }
    .ui-datepicker-prev-hover{
        left:2px;
        top:2px;
    }
}

/** textarea **/
textarea.form-control{
    height:100px;
}

/***search ***/
input.search{
   background:url("../../images/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}