/*** global styles **/
html, .wrapper{
    height: 100%;
}

body{
	background-color:$brand-gray;
    font-family:$lato;
    font-weight:$lato-regular;
    font-size:16px;
    color:$brand-black;
    height: 100%;
    -webkit-font-smoothing:antialiased;
    color: $brand-gray-dk;
}


/*** header ***/
header{
    background: $brand-blue;
    .navbar-default{
        background: transparent;
        border: 0;
        margin: 0;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .dropdown-menu>li>a{
        color:$brand-white;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu{
        background:#367fa9;
        color:$brand-white;
        border:0;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background: $brand-blue;
        color:$brand-white;
    }
    .dropdown-menu>li>a{
        padding: 10px 20px;
    }
    .navbar-brand{
        font-size:1.25rem
    }
    .navbar-nav>li>a{
        font-size: .87rem;
    }
}

/*** footer ***/
footer{
    background: #e1e1e1;
    padding: 16.5px 0;
    p{
        font-size: .75rem;
        font-weight: 900;
    }
}

/*** content area ***/
main{
    height: calc(100% - 140px);
    margin: 20px 0;
    .container{
        height: 100%;
        .well{
            margin: 0;
            border: 0;
            box-shadow: none;
            height: 100%;
            border-radius: 0;
            background:$brand-white;
            > h3{
                margin-bottom:20px;
            }
        }
    }
}

/*** tabs ***/
.nav-tabs{
    >li>a{
        border-radius:0;
        font-size:14px;
        color:$brand-gray-dk;
    }
}
.nav-pills{
    >li.active>a, >li.active>a:focus, >li.active>a:hover{
        color: $brand-gray-dk;
        background-color: #eee;
    }
    >li>a{
        color: $brand-gray-dk;
        border-radius:0;
        font-size: 14px;
        padding: 5px 15px;
    }
}
.tab-content{
    padding: 15px;
    min-height: 100px;
    font-size: 14px;
    &.tab{
        border: 1px solid #ddd;
        border-top: 0;
    }
}

/*** modal ***/
.modal{
    .modal-content{
        box-shadow: none;
        border: 0;
    }
    .modal-dialog{
        margin:0 auto;
        top: 50%;
        position: absolute;
        left: 50%;
        @include vendor-prefix(transform, translate(-50%, -50%) !important);
    }
    .modal-header{
        border: 0;
        line-height:1;
    }
    .modal-title{
        font-size: 1.31rem;
        font-weight: 700;
        margin-bottom:0;
    }
    .modal-footer{
        border: 0;
        text-align: center;
    }
    .modal-header, .modal-body, .modal-footer{
        padding: 20px;
    }
}