/*** all utility classes ***/

/*** width ***/
.width100{
	width:100%;
}

/*** extras ***/
.cursor, .glyphicon, a {
    cursor:pointer;
}

/*** Padding ***/
.no-padding{
    padding:0 !important;
}


/*** Margin ***/
.no-margin{
    margin:0;
}
